.Home {
  justify-content: center;
  align-items: center;
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.Home > div {
  max-width: 600px;
  padding: 20px;
  margin: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.Home h5 {
  font-size: 24px;
  color: #3e5d81;
}

.Home ul {
  list-style-type: none;
  padding: 0;
  text-align: left;
}

.Home ul li:before {
  content: "•";
  color: #3e5d81;
}

.Home p {
  font-size: 16px;
  color: black;
}

.start-button {
  display: block;
  width: 100%;
  padding: 10px 20px;
  background-color: #3e5d81;
  color: white;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.start-button:hover {
  background-color: #2a3f5a;
  color: #fff;
}