.flogin {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  max-width: 300px;
  margin: auto;
}

label {
  display: block;
  margin-bottom: 3px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 7px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

.error-message {
  color: #e74c3c;
  margin-top: -10px;
  margin-bottom: 15px;
}

.fregister {
  margin-top: 20px;
}

.flogin label,
.fregister label {
  text-align: left;
}

@media (max-width: 600px) {
  form {
    width: 90%;
  }
}

.SignIn {
  margin-top: 5%;
}
