
/* .Stage{
    align-items: center;
    justify-content: center;
} */

.word{
    display: flex;
    align-content: center;
    justify-content: center;
    margin-bottom: 3px;
}
 
.wordDivs{
    display: flex;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
    width: 1000px;
}

.user-input{
    width: 0;
    /* overflow: hidden; */
    /* outline: none; */
    opacity: 0;
    position: absolute;
    /* display: flex; */
}

.game-stats{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    position: fixed;
    right: 0;
    margin-right: 3rem;
    top: 40%;
}